<div class="contenido">
<h2>Editar mis datos</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: "Nombre", required: true, autofocus: true %>
    <%= f.input :email, label: "Correo", required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, label: "Contraseña", autocomplete: "off", hint: "Deja este campo en blanco si no quieres cambiar tu contraseña", required: false %>
    <%= f.input :password_confirmation, label: "Confirmar contraseña" ,required: false %>
    <%= f.input :current_password, label: "Contraseña actual",hint: "Necesitamos tu contraseña actual para confirmar tus cambios", required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Actualizar",class:"button" %>
  </div>
<% end %>

<h3>Cancelar tu cuenta</h3>

<p>¿Ya no estás feliz? <%= link_to "Eliminar mi cuenta", registration_path(resource_name), data: { confirm: "¿Estás seguro?" }, method: :delete %></p>

<%= link_to "Regresar", :back %>
</div>