<div id="post_show">
	<div class="post_image_description big"><%= image_tag @article.cover.url(:medium) , class:"portada"%></div>
	<h1 class="big"><%= @article.title %></h1>
	<div class="clearfix">
		<div class="username">
		<p>Compartido por: <%= @article.user.name %><br/>
		Hace: <%= time_ago_in_words(@article.created_at) %></p>
		</div>
			<div class="post_data">
				<% if @article.user == current_user %>
					<%= link_to "Editar", edit_article_path(@article) , class:"hollow button"%>
				<%end%>
			</div>
	</div>	
	<div class="description"> <%= simple_format(@article.body) %> </div>
	<div id="comments">
		<%= render 'disqus'%>
	</div>
</div>