<div id="post_show">
	<div class="ads"><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- zonauniversitaria-mobi -->
<ins class="adsbygoogle"
     style="display:inline-block;width:320px;height:100px"
     data-ad-client="ca-pub-3496391728830771"
     data-ad-slot="3699227242"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script></div>

	<div class="post_image_description big"> <%= image_tag @article.cover.url , class:"portada"%></div>
	<h1 class="big"><%= @article.title %></h1>
	<div class="clearfix">
		<div class="username">
		<% @article.categories.each do |category| %>
		<%= link_to category.name, category, class:"tiny hollow button"%>
		<%end%>
		<p>Compartido por: <%= @article.user.name %><br/>
		Hace: <%= time_ago_in_words(@article.created_at) %></p>
		</div>
			<div class="post_data">
				<div class="data"><i class="material-icons red10 iconos">favorite</i><%= link_to pluralize(@article.get_upvotes.size, "Me gusta") ,like_article_path(@article), method: :get,class:"link-sin"%></div>
				<div class="data"><i class="material-icons strike10 iconos">sentiment_dissatisfied</i><%= link_to pluralize(@article.get_downvotes.size, "Strike") ,dislike_article_path(@article), method: :get,class:"link-sin"%></div>
				<div class="data"><i class="material-icons blue10 iconos">visibility</i><%= pluralize(@article.visits_count, "Visita")%></div>
				<% if @article.user == current_user %>
					<%= link_to "Editar", edit_article_path(@article) , class:"hollow button"%>
				<%end%>
			</div>
	</div>	
	<div class="description"> <%= simple_format(@article.body) %> </div>
</div>

<div id="post_show_mobile">
	<div class="ads"><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- zonauniversitaria-mobi -->
<ins class="adsbygoogle"
     style="display:inline-block;width:320px;height:100px"
     data-ad-client="ca-pub-3496391728830771"
     data-ad-slot="3699227242"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script></div>
	<div class="post_image_description big"><%= image_tag @article.cover.url , class:"portada"%></div>
	<h1 class="big"><%= @article.title %></h1>
	<div class="clearfix">
		<div class="username">
		<% @article.categories.each do |category| %>
		<%= link_to category.name, category, class:"tiny hollow button"%>
		<%end%>
		<p>Compartido por: <%= @article.user.name %><br/>
		Hace: <%= time_ago_in_words(@article.created_at) %></p>
		</div>
			<div class="post_data">
				<div class="data"><i class="material-icons red10 iconos">favorite</i><%= link_to pluralize(@article.get_upvotes.size, "Me gusta") ,like_article_path(@article), method: :get,class:"link-sin"%></div>
				<div class="data"><i class="material-icons strike10 iconos">sentiment_dissatisfied</i><%= link_to pluralize(@article.get_downvotes.size, "Strike") ,dislike_article_path(@article), method: :get,class:"link-sin"%></div>
				<div class="data"><i class="material-icons blue10 iconos">visibility</i><%= pluralize(@article.visits_count, "Visita")%></div>
				<% if @article.user == current_user %>
					<%= link_to "Editar", edit_article_path(@article) , class:"hollow button"%>
				<%end%>
			</div>
	</div>	
	<div class="description"> <%= simple_format(@article.body) %> </div>
</div>


<div id="comments">
		<%= render 'disqus'%>
</div>
<div class="ads"><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- zonauniversitaria-mobi -->
<ins class="adsbygoogle"
     style="display:inline-block;width:320px;height:100px"
     data-ad-client="ca-pub-3496391728830771"
     data-ad-slot="3699227242"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script></div>