<!DOCTYPE html>
<html>
<head>
  <title>ZONAUNIVERSITARIA | La comunidad perfecta para ti...</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- All in SEO  -->
    <meta name="description"  content="ZONA UNIVERSITARIA es una plataforma de servicios de comunicación digital que ofrece soluciones de alto impacto para la comunidad universitaria." />
    <meta name="keywords"  content="universitarios, emprender, emprendedores, trabajo, empleo, universidad, México, Mexico, cupones, descuentos, ofertas, cuponera, revista, revista digital, blog, blog universitario, blog estudiantil, opiniones, expresarse, zona, universitaria, zona universitaria, universitario, blog universitario México, revista digital universitaria, digital, app, app universitaria, comunidad, comunidad universitaria" />
    <link rel='shortlink' href='<a href="view-source:http://app.zonauniversitaria.com.mx">http://zonauniversitaria.com.mx</a>' />

    <!-- SEO para Twitter -->
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:url" content="http://app.zonauniversitaria.com.mx" />
    <meta property="twitter:description" content="ZONA UNIVERSITARIA es una plataforma de servicios de comunicación digital que ofrece soluciones de alto impacto para la comunidad universitaria." />
    <meta property="twitter:image" content="https://drive.google.com/file/d/0ByXlfGu9Q_tibzA5aXVlRUZ1Ykk" />
    <meta property="twitter:site" content="@zonauniversita" />

    <!-- SEO para Facebook -->
    <meta property="fb:page_id" content="www.zonauniversitaria.com.mx" />
    <meta property='og:locale' content='es_MX'/>
    <meta property='og:type' content='article'/>
    <meta property='og:title' content='<a href="http://app.zonauniversitaria.com.mx">ZONA UNIVERSITARIA</a>'/>
    <meta property='og:description' content='ZONA UNIVERSITARIA es una plataforma de servicios de comunicación digital que ofrece soluciones de alto impacto para la comunidad universitaria.'/>
    <meta property='og:url' content='http://app.zonauniversitaria.com.mx'/>
    <meta property='og:site_name' content='ZONA UNIVERSITARIA | La comunidad perfecta para ti...'/>
    <meta property='og:image' content='https://drive.google.com/file/d/0ByXlfGu9Q_tibzA5aXVlRUZ1Ykk'/>
    <meta name="robots" content="noodp,noydir"/>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-75856539-1', 'auto');
    ga('send', 'pageview');
    </script>
</head>
<body>

<div class="top-bar menu-desktop">
  <a href="/" class="menu-text text-center">ZONA UNIVERSITARIA</a>
  <a href="#" class="main"><i class="material-icons">menu</i></a>
  <nav id="main-nav" class="float-right">
      <a class="separacion item"><%= link_to "Inicio", root_path %></a>
      <a class="separacion item"><%= link_to "Blog", '/articles' %></a>
      <a class="separacion item"><%= link_to "Cuponera", root_path %></a>
      <% if user_signed_in? %>
      <a href="/articles/new" class="hollow button menu item" style="background:none;">Crear inspiración</a>
      <a><%= link_to "Mi cuenta", edit_user_registration_path, class:"menu-right" %></a>
      <a class="item"><%= link_to "Salir", destroy_user_session_path ,class:"menu-right", method: :delete %></a>
      <% else %> 
      <a href="/users/sign_in" class="hollow button menu item" style="background:none;">Ingresar / Registrarme</a></button>
      <%end%>
  </nav>
</div>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>
<div class="banner-footer">
  <p><a href="http://bit.ly/zona-universitaria" style="color:white;" target="_blank">¿Te apasiona escribir? Únete a nuestro equipo de bloggers. <b>¡Aplica ahora!</b></a></p>
</div>
<div class="footer">
    <div class="menu-centered padding-top-bottom">
    <nav>
      <a class="separacion"><%= link_to "Facebook", 'https://facebook.com/www.zonauniversitaria.com.mx' %></a>
      <a class="separacion"><%= link_to "Facebook", 'http://bit.ly/zona-universitaria' %></a>
      <a class="separacion"><%= link_to "Sobre nosotros", '/acerca' %></a>
      <a class="separacion"><%= link_to "Empleo", '/empleo' %></a>
      <a class="separacion"><%= link_to "Negocios", root_path %></a>
      <a class="separacion"><%= link_to "Términos de servicio", '/terminos' %></a>
      <a class="separacion"><%= link_to "Privacidad", '/privacidad' %></a>
    </nav>
  </div>
  </div>
</body>
</html>
